KODE DAN HASIL PANDAS

In [24]:
import pandas as pd

In [25]:
product_data = pd.read_csv('./updated_products - updated_products.csv.csv')
product_data.head()

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id,new_cost,discounted_cost
0,27569,2000.0,Swim,2XU Men's Swimmers Compression Long Sleeve Top,Jeans,15.041.000.366.210.900,Men,B23C5765E165D83AA924FA8F13C05F25,1,1500.0,900.0
1,27445,5000.0,Swim,TYR Sport Men's Square Leg Short Swim Suit,TYR,389.900.016.784.668,Men,2AB7D3B23574C3DEA2BD278AFD0939AB,1,3.707.949.179.143.660,2.224.769.507.486.200
2,27457,10000.0,Swim,TYR Sport Men's Solid Durafast Jammer Swim Suit,TYR,27.600.000.381.469.700,Men,8F831227B0EB6C6D09A0555531365933,1,2.384.640.038.264.390,14.307.840.229.586.300
3,27466,17.850.000.048.056.200,Swim,TYR Sport Men's Swim Short/Resistance Short Sw...,TYR,30.0,Men,67317D6DCC4CB778AEB9219565F5456B,1,26.775.000.072.084.300,1.606.500.004.325.060
4,27481,29.408.000.515.669.500,Swim,TYR Alliance Team Splice Jammer,TYR,45.950.000.762.939.400,Men,213C888198806EF1A0E2BBF2F4855C6C,1,4.411.200.077.350.430,2.646.720.046.410.260

In [26]:
# modify array 0
product_data.loc[0,['id']] = ["28790"]  # id awal 27569
product_data.loc[0,['cost']] = [1000] # cost awal 2000
product_data.loc[0,['brand']] = ["TYR"] # Awal Jeans
product_data.loc[0,['depatment']] = ["Women"] # awal men
product_data.loc[0]

id                                                                 28790
cost                                                                1000
category                                                            Swim
name                      2XU Men's Swimmers Compression Long Sleeve Top
brand                                                                TYR
retail_price                                      15.041.000.366.210.900
department                                                           Men
sku                                     B23C5765E165D83AA924FA8F13C05F25
distribution_center_id                                                 1
new_cost                                                          1500.0
discounted_cost                                                    900.0
depatment                                                          Women
Name: 0, dtype: object

In [27]:
# modify array 1
product_data.loc[1,['cost']] = [10000] # cost awal 5000
product_data.loc[1,['brand']] = ["Jeans"] # Awal TYR
product_data.loc[1,['depatment']] = ["Women"] # awal men
product_data.loc[1]

id                                                             27445
cost                                                           10000
category                                                        Swim
name                      TYR Sport Men's Square Leg Short Swim Suit
brand                                                          Jeans
retail_price                                     389.900.016.784.668
department                                                       Men
sku                                 2AB7D3B23574C3DEA2BD278AFD0939AB
distribution_center_id                                             1
new_cost                                       3.707.949.179.143.660
discounted_cost                                2.224.769.507.486.200
depatment                                                      Women
Name: 1, dtype: object

In [28]:
# modify array 2
product_data.loc[2,['cost']] = [20000] # cost awal 10000
product_data.loc[2,['brand']] = ["Jeans"] # Awal TYR
product_data.loc[2,['depatment']] = ["Women"] # awal men
product_data.loc[2]

id                                                                  27457
cost                                                                20000
category                                                             Swim
name                      TYR Sport Men's Solid Durafast Jammer Swim Suit
brand                                                               Jeans
retail_price                                       27.600.000.381.469.700
department                                                            Men
sku                                      8F831227B0EB6C6D09A0555531365933
distribution_center_id                                                  1
new_cost                                            2.384.640.038.264.390
discounted_cost                                    14.307.840.229.586.300
depatment                                                           Women
Name: 2, dtype: object

In [29]:
# modify array 3
product_data.loc[3,['cost']] = [10000] # cost awal 17.850.000.048.056.200
product_data.loc[3,['brand']] = ["Jeans"] # Awal TYR
product_data.loc[3,['depatment']] = ["Women"] # awal men
product_data.loc[3]

id                                                                    27466
cost                                                                  10000
category                                                               Swim
name                      TYR Sport Men's Swim Short/Resistance Short Sw...
brand                                                                 Jeans
retail_price                                                           30.0
department                                                              Men
sku                                        67317D6DCC4CB778AEB9219565F5456B
distribution_center_id                                                    1
new_cost                                             26.775.000.072.084.300
discounted_cost                                       1.606.500.004.325.060
depatment                                                             Women
Name: 3, dtype: object

In [30]:
# modify array 4
product_data.loc[4,['cost']] = [10000] # cost awal 29.408.000.515.669.500
product_data.loc[4,['brand']] = ["Jeans"] # Awal TYR
product_data.loc[4,['depatment']] = ["Women"] # awal men
product_data.loc[4]

id                                                   27481
cost                                                 10000
category                                              Swim
name                       TYR Alliance Team Splice Jammer
brand                                                Jeans
retail_price                        45.950.000.762.939.400
department                                             Men
sku                       213C888198806EF1A0E2BBF2F4855C6C
distribution_center_id                                   1
new_cost                             4.411.200.077.350.430
discounted_cost                      2.646.720.046.410.260
depatment                                            Women
Name: 4, dtype: object

In [31]:
# To Excel (Need to install additional module, "openpyxl")
product_data.to_excel(excel_writer="./updated_products_pandas.xlsx", index=False)

In [32]:
# To CSV
product_data.to_csv(path_or_buf="./updated_products_pandas.csv", index=False)

KODE DAN HASIL NUMPY

In [33]:
import numpy as np

In [34]:
product_data = pd.read_csv("./updated_products_pandas.csv")
product_data.head()

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id,new_cost,discounted_cost,depatment
0,28790,1000,Swim,2XU Men's Swimmers Compression Long Sleeve Top,TYR,15.041.000.366.210.900,Men,B23C5765E165D83AA924FA8F13C05F25,1,1500.0,900.0,Women
1,27445,10000,Swim,TYR Sport Men's Square Leg Short Swim Suit,Jeans,389.900.016.784.668,Men,2AB7D3B23574C3DEA2BD278AFD0939AB,1,3.707.949.179.143.660,2.224.769.507.486.200,Women
2,27457,20000,Swim,TYR Sport Men's Solid Durafast Jammer Swim Suit,Jeans,27.600.000.381.469.700,Men,8F831227B0EB6C6D09A0555531365933,1,2.384.640.038.264.390,14.307.840.229.586.300,Women
3,27466,10000,Swim,TYR Sport Men's Swim Short/Resistance Short Sw...,Jeans,30.0,Men,67317D6DCC4CB778AEB9219565F5456B,1,26.775.000.072.084.300,1.606.500.004.325.060,Women
4,27481,10000,Swim,TYR Alliance Team Splice Jammer,Jeans,45.950.000.762.939.400,Men,213C888198806EF1A0E2BBF2F4855C6C,1,4.411.200.077.350.430,2.646.720.046.410.260,Women

In [35]:
import random
import timeit
from typing import List, Optional

In [36]:
number_of_data = 10
min_interval = 10
max_interval = 100
random_number = random.sample(range(min_interval, max_interval), number_of_data)
print(random_number)

[15, 86, 87, 97, 85, 91, 68, 57, 73, 26]

In [37]:
def create_random_number(min_interval:int, max_interval:int, data_number:int) -> list:
    return random.sample(range(min_interval, max_interval), data_number)

In [38]:
number_of_data = 10000000 # Sepuluh juta
min_interval = 1
max_interval = 100000000 # Seratus juta
random_list = create_random_number(min_interval, max_interval, number_of_data)
data = {
    "cost_1": random_list,
    "cost_2": np.array(random_list)
}

In [39]:
def multiplication(data: List[int] | np.array, multiplier: int = 2) -> List[int] | np.array:
    return data * multiplier

In [40]:
iteration = 100
list_execution_time = timeit.timeit(lambda: multiplication(data['cost_1']), number=iteration)
print(f"Execution time (List): {list_execution_time:.6f} seconds")
np_execution_time = timeit.timeit(lambda:multiplication(data['cost_2']), number=iteration)
print(f"Execution time (Numpy Array): {np_execution_time:.6f} seconds")

Execution time (List): 58.980869 seconds
Execution time (Numpy Array): 2.436661 seconds