In [14]:
!pip3 install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\hp\appdata\roaming\python\python38\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python38\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\roaming\python\python38\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hp\appdata\roaming\python\python38\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\hp\appdata\roaming\python\python38\site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: c:\program files\python38\python.exe -m pip install --upgrade pip

In [15]:
# For excel export via Pandas DataFrame
!pip3 install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\hp\appdata\roaming\python\python38\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\hp\appdata\roaming\python\python38\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: c:\program files\python38\python.exe -m pip install --upgrade pip

In [16]:
!pip show pandas

Name: pandas
Version: 2.0.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page:
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

        Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
        All rights reserved.

        Copyright (c) 2011-2023, Open source contributors.

        Redistribution and use in source and binary forms, with or without
        modification, are permitted provided that the following conditions are met:

        * Redistributions of source code must retain the above copyright notice, this
          list of conditions and the following disclaimer.

        * Redistributions in binary form must reproduce the above copyright notice,
          this list of conditions and the following disclaimer in the documentation
          and/or other materials provided with the distribution.

        * Neither the name of the copyright holder nor the names of its
          contributors may be used to endorse or promote products derived from
          this software without specific prior written permission.

        THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
        AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
        IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
        DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
        FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
        DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
        SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
        CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
        OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
        OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Location: c:\users\hp\appdata\roaming\python\python38\site-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by: seaborn, ultralytics

In [17]:
import pandas as pd

In [18]:
product_data = pd.read_csv('./products.csv')
product_data.head()

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id
0,27569,92.652563,Swim,2XU Men's Swimmers Compression Long Sleeve Top,2XU,150.410004,Men,B23C5765E165D83AA924FA8F13C05F25,1
1,27445,24.719661,Swim,TYR Sport Men's Square Leg Short Swim Suit,TYR,38.990002,Men,2AB7D3B23574C3DEA2BD278AFD0939AB,1
2,27457,15.897600,Swim,TYR Sport Men's Solid Durafast Jammer Swim Suit,TYR,27.600000,Men,8F831227B0EB6C6D09A0555531365933,1
3,27466,17.850000,Swim,TYR Sport Men's Swim Short/Resistance Short Sw...,TYR,30.000000,Men,67317D6DCC4CB778AEB9219565F5456B,1
4,27481,29.408001,Swim,TYR Alliance Team Splice Jammer,TYR,45.950001,Men,213C888198806EF1A0E2BBF2F4855C6C,1

In [19]:
# modify array 0
product_data.loc[0,['id']] = ["1"]
product_data.loc[0,['cost']] = [100]
product_data.loc[0,['category']] = ["Running"]
product_data.loc[0,['name']] = ["Running one"]
product_data.loc[0,['brand']] = ["bear brand"]
product_data.loc[0,['retail_price']] = [200]
product_data.loc[0,['depatment']] = ["Women"]
product_data.loc[0,['sku']] = ["AAAAAAA"]
product_data.loc[0,['distribution_center_id']] = ["10"]
product_data.loc[0]

id                                  1
cost                            100.0
category                      Running
name                      Running one
brand                      bear brand
retail_price                    200.0
department                        Men
sku                           AAAAAAA
distribution_center_id             10
depatment                       Women
Name: 0, dtype: object

In [20]:
# modify array 1
product_data.loc[1,['id']] = ["2"]
product_data.loc[1,['cost']] = [150]
product_data.loc[1,['category']] = ["Running"]
product_data.loc[1,['name']] = ["Running two"]
product_data.loc[1,['brand']] = ["lion brand"]
product_data.loc[1,['retail_price']] = [220]
product_data.loc[1,['depatment']] = ["Women"]
product_data.loc[1,['sku']] = ["BBBBBBB"]
product_data.loc[1,['distribution_center_id']] = ["11"]
product_data.loc[1]

id                                  2
cost                            150.0
category                      Running
name                      Running two
brand                      lion brand
retail_price                    220.0
department                        Men
sku                           BBBBBBB
distribution_center_id             11
depatment                       Women
Name: 1, dtype: object

In [21]:
# modify array 2
product_data.loc[2,['id']] = ["2"]
product_data.loc[2,['cost']] = [120]
product_data.loc[2,['category']] = ["Running"]
product_data.loc[2,['name']] = ["Running three"]
product_data.loc[2,['brand']] = ["ant brand"]
product_data.loc[2,['retail_price']] = [250]
product_data.loc[2,['depatment']] = ["Women"]
product_data.loc[2,['sku']] = ["CCCCCCC"]
product_data.loc[2,['distribution_center_id']] = ["12"]
product_data.loc[2]

id                                    2
cost                              120.0
category                        Running
name                      Running three
brand                         ant brand
retail_price                      250.0
department                          Men
sku                             CCCCCCC
distribution_center_id               12
depatment                         Women
Name: 2, dtype: object

In [22]:
# modify array 3
product_data.loc[3,['id']] = ["1"]
product_data.loc[3,['cost']] = [190]
product_data.loc[3,['category']] = ["Running"]
product_data.loc[3,['name']] = ["Running doll"]
product_data.loc[3,['brand']] = ["Doll brand"]
product_data.loc[3,['retail_price']] = [280]
product_data.loc[3,['depatment']] = ["Women"]
product_data.loc[3,['sku']] = ["DDDDDDD"]
product_data.loc[3,['distribution_center_id']] = ["18"]
product_data.loc[3]

id                                   1
cost                             190.0
category                       Running
name                      Running doll
brand                       Doll brand
retail_price                     280.0
department                         Men
sku                            DDDDDDD
distribution_center_id              18
depatment                        Women
Name: 3, dtype: object

In [23]:
# modify array 4
product_data.loc[4,['id']] = ["4"]
product_data.loc[4,['cost']] = [150]
product_data.loc[4,['category']] = ["Running"]
product_data.loc[4,['name']] = ["Running Thunder"]
product_data.loc[4,['brand']] = ["Cat brand"]
product_data.loc[4,['retail_price']] = [900]
product_data.loc[4,['depatment']] = ["Women"]
product_data.loc[4,['sku']] = ["DDDDDDD"]
product_data.loc[4,['distribution_center_id']] = ["30"]
product_data.loc[4]

id                                      4
cost                                150.0
category                          Running
name                      Running Thunder
brand                           Cat brand
retail_price                        900.0
department                            Men
sku                               DDDDDDD
distribution_center_id                 30
depatment                           Women
Name: 4, dtype: object

In [25]:
!pip3 install openpyxl

Collecting openpyxlNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

  Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [26]:
# To Excel (Need to install additional module, "openpyxl")
product_data.to_excel(excel_writer="./updated_products.xlsx", index=False)

In [27]:
# To CSV
product_data.to_csv(path_or_buf="./updated_products.csv", index=False)